{% extends "base.html" %}
{% block navblock %}
              <li><a href="/">Home</a></li>
              <li><a href="/add">Add</a></li>
              <li class="active"><a href="/list">List</a></li>
              <li><a href="/get">Get</a></li>
{% endblock %}

{% block content %}
    <div class="container">
      <table class="table">
        <thead>
          <th>Name</th>
          <th>Description</th>
          <th>&nbsp;</th>
        </thead>
        <tbody>
          {% for doc in doc_list %}
          <tr>
            <td><a href="/list?name={{doc.name}}">{{ doc.name }}</a></td>
            <td><a href="/list?descr={{doc.descr}}">{{ doc.descr }}</a></td>
            <td><a href="/get?name={{doc.name}}&descr={{doc.descr}}">Latest Doc</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div> <!-- /container -->
{% endblock %}
